


<!DOCTYPE html>
<html lang="en">

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/inicioDashAdmin">
              <div class="sidebar-brand-icon">
                <img src="/assets/img/tichIcon.png">
              </div>
              <div class="sidebar-brand-text mx-3">Administrador</div>
            </a>
      
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
      
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
              <a class="nav-link" routerLink="/inicioDashAdmin">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
            </li>
      
            <!-- Divider -->
            <hr class="sidebar-divider">
      
            <!-- Heading -->
            <div class="sidebar-heading">
              Contenido
            </div>

            <!-- Tabla Tutores Link -->
            <li class="nav-item">
                <a class="nav-link" href="" routerLink="/tutoresTabla">
                  <i class="fas fa-fw fa-user"></i>
                  <span> Tutores</span></a>
            </li>

              <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Tabla Alumnos Link -->
            <li class="nav-item">
                <a class="nav-link" href="" routerLink="/alumnosTabla">
                  <i class="fas fa-fw fa-user"></i>
                  <span> Alumnos</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Tabla Padres Link -->
            <li class="nav-item">
                <a class="nav-link" href="" routerLink="/padreTabla">
                  <i class="fas fa-fw fa-user"></i>
                  <span> Padres de Familia</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Tabla Padres Link -->
            <li class="nav-item">
                <a class="nav-link" href="" routerLink="/aspirantesTabla">
                  <i class="fas fa-fw fa-user"></i>
                  <span> Aspirantes a Tutor</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Tabla Padres Link -->
            <li class="nav-item">
                <a class="nav-link" href="" routerLink="/materiasTabla">
                  <i class="fas fa-fw fa-table"></i>
                  <span> Materias</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Tabla Padres Link -->
            <li class="nav-item">
                <a class="nav-link" href="" routerLink="/tutoriasTabla">
                  <i class="fas fa-fw fa-table"></i>
                  <span> Tutorias</span></a>
            </li>
      
        </ul>
        <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Topbar --> 
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{nombreUsuario}}</span>
                <img class="img-profile rounded-circle" src="/assets/img/user.png">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <!--<a class="dropdown-item" href="" routerLink="">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Editar Perfil
                </a>
                <div class="dropdown-divider"></div>-->
                <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Salir
                </a>
              </div>
            </li>

          </ul>

      </nav>
      <!-- End of Topbar -->

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h2>Padres.</h2>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" class="table table-bordered" id="dataTable" *ngIf="arrPadres" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                            <th></th>
                            <th>Nombre</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Sexo</th>
                            <th>Ocupación</th>
                            <th>Dirección</th>
                            <th>Corrreo</th>
                            <th>No. Teléfono</th>
                        </tr>
                      </thead>
                      <!-- <tfoot>
                        <tr>
                            <th></th>
                            <th>Nombre</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Sexo</th>
                            <th>Ocupación</th>
                            <th>Dirección</th>
                            <th>Corrreo</th>
                            <th>No. Teléfono</th>
                        </tr>
                      </tfoot> -->
                      <tbody >
                        <tr *ngFor="let e of arrPadres">
                          <td></td>
                          <td>{{e.usuarioRef.nombre}} {{e.usuarioRef.apaterno}} {{e.usuarioRef.amaterno}}</td>
                          <td>{{e.fechanac}}</td>
                          <td>{{e.usuarioRef.sexo}}</td>
                          <td>{{e.usuarioRef.ocupacion}}</td>
                          <td>{{e.usuarioRef.calle}} #{{e.usuarioRef.numero}} {{e.usuarioRef.colonia}}, {{e.usuarioRef.ciudad}}, CP#{{e.usuarioRef.cp}}</td>
                          <td>{{e.usuarioRef.email}}</td>
                          <td>{{e.usuarioRef.telefono}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; TichWeb 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

</body>

</html>
